## we are working on python datatype
## integer

In [47]:
2+2

4

## float

In [4]:
45 * 3.75 - 3

165.75

In [5]:
(50 - 5*6) / 4

5.0

In [6]:
 tax = 12.5 / 100
 price = 100.50
price * tax

12.5625

## string

In [7]:
'Py' 'thon'

'Python'

In [8]:
3 * 'un' + 'ium'

'unununium'

## List

In [12]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [14]:
cubes = [1, 8, 27, 65, 125]
4 ** 3

64

In [15]:
 letters = ['a', 'b', 'c', 'd']
 len(letters)

4

## we are working on python condition
## 1. if else

In [32]:
 x = int(input("Please enter an integer: "))

if x < 0:
    x = 0 
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: 42
More

## we are working on python condition
## 2. for

In [20]:
words = ['cat', 'window', 'defenestrate']
>>> for w in words:
...     print(w, len(w))

cat 3
window 6
defenestrate 12

In [21]:
for w in words[:]: 
    if len(w) > 6:
        words.insert(0, w)

words

['defenestrate', 'cat', 'window', 'defenestrate']

## we are working on python Iterative

In [30]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [31]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
    print(x)

apple
banana
cherry

## we are working on python Funtion

In [22]:
for i in range(5):
     print(i)

0
1
2
3
4

In [44]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb